.editor-styles-wrapper h1:not(.wp-block-post-title) {
  color: rgba(var(--kubio-color-6),1);
  font-family: Kumbh Sans,Helvetica,Arial,Sans-Serif,serif;
  font-size: 5.5em;
  font-weight: 700;
  line-height: 1.26;
  text-transform: none;
}

.editor-styles-wrapper h2 {
  color: rgba(var(--kubio-color-6),1);
  font-family: Kumbh Sans,Helvetica,Arial,Sans-Serif,serif;
  font-size: 3.5em;
  font-weight: 500;
  line-height: 1.143;
  text-transform: none;
}

.editor-styles-wrapper h3 {
  color: rgba(var(--kubio-color-6),1);
  font-family: Kumbh Sans,Helvetica,Arial,Sans-Serif,serif;
  font-size: 2.25em;
  font-weight: 300;
  line-height: 1.25;
  text-transform: none;
}

.editor-styles-wrapper h4 {
  color: rgba(var(--kubio-color-2),1);
  font-family: Kumbh Sans,Helvetica,Arial,Sans-Serif,serif;
  font-size: 1.6em;
  font-weight: 600;
  line-height: 1.6;
  text-transform: none;
}

.editor-styles-wrapper h5 {
  color: rgba(var(--kubio-color-1),1);
  font-family: Kumbh Sans,Helvetica,Arial,Sans-Serif,serif;
  font-size: 1.2em;
  font-weight: 700;
  line-height: 1.55;
  text-transform: none;
}

.editor-styles-wrapper h6 {
  color: rgba(var(--kubio-color-2),1);
  font-family: Kumbh Sans,Helvetica,Arial,Sans-Serif,serif;
  font-size: .9em;
  font-weight: 400;
  letter-spacing: 1.3px;
  line-height: 1.6;
  text-transform: uppercase;
}

.editor-styles-wrapper  {
  color: rgba(var(--kubio-color-6),1);
  font-family: Kumbh Sans,Helvetica,Arial,Sans-Serif,serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  text-transform: none;
}

@media (max-width:767px) {
  .editor-styles-wrapper h1:not(.wp-block-post-title) {
    font-size: 4em;
  }

  .editor-styles-wrapper h2 {
    font-size: 3em;
  }

  .editor-styles-wrapper h4 {
    line-height: 1.4;
  }
}
